---
layout: base.njk
pagination:
  data: collections.about
  size: 1
  alias: about
---

 <div id="back-button" data-url="{{ '/exhibitions/' | url }}"><img src="/images/arrow-left.svg"></div>

<div class="text-container">
  <div class="row">


      <!-- English Text Section -->
      <div id="text-en" class="about-content">
        {{ about.data.text_en }}
      </div>


  </div>
  <!-- <button id="language-toggle" class="toggle-button" data-current-language="en">Switch Language</button> -->


  <!-- Other Language Text Section (Initially Hidden) -->
  <div id="text-other" class="about-content hidden">
    {{ about.data.text_other }}
  </div>
</div>
