---
layout: base.njk
---



{% if collections.contact.length > 0 %}
  {% set contact = collections.contact[0] %}
  <div class="contact-page">
    <div class="artist-info">
      <p>{{ contact.data.title }}</p>
      <p>{{ contact.data.text }}</p>
    </div>
      <ul class="contact-links">
      <li><a href="/imprint" target="_blank">Imprint</a></li>
       <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
    </ul>
  </div>
{% else %}
  <p>No contact information available.</p>
{% endif %}
