---
layout: base.njk
pagination:
  data: collections.publications
  size: 100
  alias: publications
---
<h1>Publications</h1>

<div class="main-container">
  <div class="publications-container">
    {% if publications | length > 0 %}
      {% for publication in publications %}
        <div class="row each-row">
          <div class="col-sm-6 publication-image-container">
            {% if publication.data.image %}
              <img src="{{ (publication.data.image | replace('/upload/', '/upload/w_1600,q_auto,f_auto,dpr_auto/')) }}" alt="{{ publication.data.publicationTitle }}" class="publication-image">
            {% endif %}
          </div>
          <div class="col-sm-6">
            <h2 class="pubTitle">{{ publication.data.publicationTitle }}</h2>
            <p class="pubDetails">{{ publication.data.publicationDetails }}</p>
            {% if publication.data.publicationAuthor %}
              <p class="pubMainInfo">Text by: {{ publication.data.publicationAuthor }}</p>
            {% endif %}
            {% if publication.data.publicationEdition %}
              <p class="pubMainInfo">Edition: {{ publication.data.publicationEdition }}</p>
            {% endif %}
            <!-- Add other fields as needed -->
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No publications found.</p>
    {% endif %}
  </div>
</div>
