body, html {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.main-container {
  padding: 0 2em;
  max-width: 2000px; /* Optional: limits the width on larger screens */
  margin: 0 auto;
}

.navbar, .index-title, .works-grid {
  padding-left: 0; /* Remove individual padding to rely on .main-container */
}


.index-title {
  font-size: 1.1em;
  font-weight: 200;
  margin: 0;
  margin-bottom:1em;
  padding-left: 0.4em;
}

.carousel {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.carousel.slide {
  margin: 0;
}

.carousel-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  border: none;
}

.carousel-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.exhibition-item {
  display: flex;
  flex-direction: column;
}

.exhibition-grid {
  display: grid;
  gap: 15px;
  padding: 0px;
}

.exhibition-card {
  border: none;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.exhibition-card img {
  width: 100%;
  height: auto;
  padding: 0;
  text-decoration: none;
}

.exhibition-details {
  padding-left: 0.5em;
  transition: all 0.3s ease;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}



.exhibition-title {
  font-size: 0.9em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
  color: #2f2e2e;
}


.exhibition-location, .exhibition-year {
  font-size: 0.8rem;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.exhibition-details:hover  {
  color: grey;
}


.fancybox__container {
  background-color: white !important;
}
.fancybox__image {
  overflow: hidden;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: white !important;
  margin-bottom: 30px;

}

.navbar-website {
  justify-content: space-between !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-brand {
  font-size: 1.6em;
}



@media (max-width: 576px) {
  .exhibition-grid {
    grid-template-columns: 1fr;
  }

  .navbar {
    padding-left: 0.5em !important;
  }


.navbar-brand {
  padding-left: 0.3em !important;
}

  .index-title {
    padding-left: 0.5em;
  }

  body, html {
    margin: 0;
  }

  .carousel-card {
    max-width: 600px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .exhibition-grid {
    grid-template-columns: 1fr;
  }
  .carousel-card {
    max-width: 700px;
  }
  .navbar-brand,
  .navbar-toggler {
    padding: 0 0.3em; /* Adjust for smaller screen */
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  .exhibition-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .exhibition-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1201px) {
  .exhibition-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .exhibition-item {
    align-items: start;

  }

  .carousel-card {
    grid-column: 1 / span 1;
    justify-self: end;
  }

  .exhibition-details {
    grid-column: 2 / span 1;
    text-align: left;
    padding-left: 1rem;
    max-width: 350px;
  }

}

/* Works */

.heading-works {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 1.5em;
}


.filter {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}


.work-item {
  overflow: visible;
  position: relative;
  aspect-ratio: 5 / 4;
}

.works-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.works-card a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.works-card:hover {
  transform: scale(1.1);
}

.works-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.works-card:hover img {
  transform: scale(1.1);
}


.work-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
}


.fancybox__caption {
  font-size: 1rem;
  font-weight: 200;
  color: #000;
}

.fancybox__caption em {
  font-weight: 200;
  display:inline;
  font-size: 1em;
}

.fancybox__container,
.fancybox__backdrop,
.fancybox__carousel,
.fancybox__slide,
.fancybox__content {
    background-color: white !important;
}

.fancybox__container .fancybox__caption,
.fancybox__container .fancybox__toolbar,
.fancybox__container .fancybox__nav {
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
}

.carousel-control-prev,
.carousel-control-next {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .works-grid {
    grid-template-columns: repeat(3, 1fr);
}
}


.filter-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.filter-button {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;

}

.filter-button.active, .filter-button:hover {
  background-color: #242323;
  color: #fff;
}
