body, html {
  font-family: "minion-3", serif !important;
  font-weight: 600;
  margin: 0;
  /* cursor: url('/images/cursor.png'), auto; */
}

img {
  max-width: 100%;
  height: auto;
}

/* a, a:hover, a:active, button:hover {
  cursor: url('/images/cursor.png'), auto;
} */

/* about */
.about-content {
  font-size: 1.1em;
}

.text-container {
  max-width: 800px;
  margin: 3em auto;
  padding: 30px 20px;
  font-size: 1.1em;
  line-height: 1.4em;
}


/* publications */
.publications-container {
  margin-top: 5em;
  overflow-x: hidden;
}

.publications-heading {
  font-size: 1.5em;
  display: none;
}


.pubTitle {
  font-size: 1.7em;
}

.pubMainInfo{
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Keeps the text left-aligned */

  padding: 20px; /* Optional for spacing */
}

.publication-image-container {
  height: 300px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.publication-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width:auto;
}


.each-row {
  margin-bottom: 3em;
}

.row.each-row {
  padding-bottom: 3em;
  border-bottom: 1px solid black;

}

* {
  box-sizing: border-box;
}

.pubDetails {
  margin-bottom: 0.3em;
}




/* navbar */

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(255, 255, 255, 0.95); */
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.fullscreen-menu .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 100;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.fullscreen-menu .close-btn:hover {
  color: #ccc;
}

.fullscreen-menu.active {
  transform: translateY(0);
}

body.fancybox-open .navbar-toggler {
  display: none !important;
}

.fancybox__button--close {
  z-index: 99999;
  pointer-events: auto !important;
  transform: scale(1.5);
  box-shadow: none !important;
  --carousel-button-svg-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) !important;
}

.navbar-toggler:focus {
  outline: 1px;
}

.brand-container {
  display: flex;
  align-items: center;
}


.divider {
  margin-right: 0.5em;

}


.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-light .navbar-toggler {
  border: none;
}

.close-btn img {
  transform: scale(1.5)
}


.navbar-toggler.active .navbar-toggler-icon {
  background-image: url(/images/xmark.svg) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-list .nav-item {
  margin: 15px 0;
}

.nav-list .nav-link {
  font-size: 3rem;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
}

.nav-list .nav-link:hover {
  color: grey;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar-website {
  justify-content: space-between !important;
}
/*
.navbar-toggler {
  border: none !important;
  margin-top: 0.5em !important;
} */

.navbar-toggler {
  position: relative;
  z-index: 1100;
}

.navbar-toggler.active span {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.navbar-brand {
  font-size: 1.6em;
  padding-left: 0.8em;
  font-weight: 400;
  margin-right: 0.5rem;


}




.main-container.no-padding {
  padding: 0;
}

.main-container {
  padding: 0 1em;
  max-width: 2000px;
  margin: 0 auto;
}

.navbar, .index-title, .works-grid {
  padding-left: 0;
}

#back-to-grid {
  margin-bottom: 0.8em;

}






/* Exhibitions */

/* exhibition text styles - classes in exhibitions.js*/
.exhibition-details-title {
  font-size: 1em;
  margin-bottom: 0;
}

.exhibition-details-location {
  margin-bottom: 0;
  font-size: 1em;
}

.exhibition-details-date {
  margin-bottom: 2em;
}

#exhibition-text .narrow-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 20px;
  cursor: default;
  /* text-align: justify; */
  line-height: 1.3em;
  font-size: 1.1em;
}

#text-content .row {
  display: flex; /* Enable flexbox layout */
  justify-content: space-between; /* Add space between columns */
  gap: 20px; /* Gap between the columns */
}

#text-content .column {
  flex: 1; /* Equal width for columns */
  max-width: 48%; /* Optional: Limit width to 48% for spacing */
  text-align: justify;
}

/* Optional: Style individual columns */
#text-content .left-column,
#text-content .right-column {
  padding: 20px;
  text-align: justify;

}

.current-page-name {
  font-size: 1.6em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.exhibition-h2 {
  display: none;
}

#exhibition-grid {
  width: 100%;
  max-width: none;
}





.exhibition-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%; /* Full width */
  max-width: 1000px; /* Limits maximum width */
}

.exhibition-grid {
  display: grid;
  grid-template-columns: 1fr; /* Ensures single-column layout */
  gap: 25px;
  padding: 20px;
  margin-top: 3em;


}

.carousel-image {
  width: 100%; /* Ensures the image scales with its container */
  height: auto; /* Maintains the original aspect ratio */
  object-fit: contain; /* Ensures the image is fully visible */
}


.exhibition-card {
  border: none;
  padding: 10px;
  text-decoration: none;
  color: inherit;

}

.exhibition-card img {
  width: 100%;
  height: auto;
  padding: 0;
  text-decoration: none;
}

.exhibition-details {
  transition: all 0.3s ease;
  margin-top: 0.5em;
  flex-grow: 1;
  font-size: 1.2em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.caption {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1.3em;
}


.more-info {
  font-size: 1.2em;
  height: auto;
  max-width: 100%;
  /* line-height: 1.1em; */
  color: #000;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

}

.more-info:hover {
  cursor: pointer;
  color:#434040;
 font-weight: 300;
}



.text-link {
  margin-left: auto;
}


.exhibition-title {
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

.exhibition-location, .exhibition-year {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

#exhibition-text {
  line-height: 1.8em;
  text-align:left;
  padding: 1em;
}

.exhibitions-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white; /* Background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
  text-align: center;
  cursor: pointer;
  animation: fadeIn 0.2s ease-in-out; /* Initial fade-in */
}

.exhibitions-heading {
  font-size: 10em;
}

/* Hide the exhibitions container initially */
.hidden {
  display: none;
}

/* Reveal the exhibitions container */
.exhibitions-container {
  animation: fadeIn 0.6s ease-in-out;
  margin-top: 5em;
}

.sliders {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sliders img {
  width: 15px;
  height: 15px;
}




/* Works */
/* Container for the whole gallery */
.works-container {
  padding: 20px;
}

/* Works Grid Setup using CSS Grid for responsive layout */
.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Auto-adjust columns */
  gap: 30px; /* Space between items */
  grid-auto-rows: auto; /* Ensure rows adjust to image sizes */
}

/* Style for each work item */
.work-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Ensure images maintain their aspect ratio and aren't cropped */
.work-item img {
  width: 100%;  /* Ensure images take the full width of the container */
  height: auto; /* Maintain the original aspect ratio */
  object-fit: contain; /* Ensures the image is contained within its box */
  display: block;

}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
/* .works-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
  transition: transform 0.3s ease;
} */

.works-card a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Hover effect for works card */
.works-card:hover {
  transform: scale(1.05); /* Slight zoom effect */
}

/* Ensure image inside the works card scales correctly */
.works-card img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image stays within the bounds of the card */
  transition: transform 0.3s ease;
}

/* Hover effect on image */
.works-card:hover img {
  transform: scale(1.1); /* Zoom in on hover */
}

/* Work Info Styling */
.work-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
}

/* Style for the filter buttons (if needed) */
.filter {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}


/* lightbox */
.fancybox__container {
  display: flex;
  flex-direction: column;
  background-color: white !important;

}
.fancybox__image {
  overflow: hidden;
}

.fancybox__toolbar {
  background: none !important;
}
.fancybox__caption {
  font-family: "minion-3", serif !important;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  color: black;
  text-align: center
}




.fancybox__caption em {
  font-family: "minion-3", serif !important;
  display:inline;
}

.fancybox__image {
  max-width: 100% !important;
  max-height: 100% !important;

}

.fancybox__slide.can-zoom_in {
  cursor: default !important;
  pointer-events: none;
}


.fancybox__container,
.fancybox__backdrop,
.fancybox__carousel,
.fancybox__slide,
.fancybox__content {
    background-color: white !important;
}

.fancybox__container .fancybox__caption,
.fancybox__container .fancybox__toolbar,
.fancybox__container .fancybox__nav {
  font-family: "minion-3", serif !important;

}

.carousel-control-prev,
.carousel-control-next {
  display: none;
  }

  .fancybox__nav {
   display: none;
  }

.caption-title, .caption-year, .caption-medium, .caption-dimensions {

font-size: 17.6px;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5em;
  margin-bottom: 1em;

}

.filter-button  {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  color: black;
  font-size: 1.2em;
padding-right: 10px;
padding-left: 10px;
padding-top: 3px;
padding-bottom: 3px;
  border-radius: 20px;
}

.filter-button.active, .filter-button:hover {
  background-color: #242323;
  color: #fff
}

/* home */
.slideshow {
  position: relative;
  height: 100vh;
  width: 100%;
  cursor: url('/images/cursor.png'), auto;
  overflow: hidden;
}

.full-vh {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}



.home-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  display: none;
}

.home-slide.active {
  opacity: 1;
  display: block;
}



.current-page {
  font-weight: bold;
}

.carousel__button svg circle {
  stroke-width: 0;
}

.carousel__button svg g {
  stroke-width: 0;
}

.carousel__button svg {
  stroke-width: 1;
  color: rgb(67, 65, 65);
}

button.carousel__button.fancybox__button--zoom {
  display: none;
}
.fancybox__counter {
  position: absolute;
  font-size: 1.1em !important;
  color: black;
  z-index: 1000;
  text-shadow: var(--fancybox-toolbar-text-shadow, 0 0 0 rgba(0, 0, 0, 0)) !important;
}






/* contact-imprint - privacy */
.contact-container {
  margin-top: 5em;
}

.artist-info {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.3em;

}

/* .gallery-contact-artist {
  font-size: 1.3em;
} */
.gallery-contact-name {
  margin-bottom: 0;
}

.gallery-contact-address {
  margin-bottom: 0;
}
.gallery-contact-email {
  margin-bottom: 0;
  text-decoration: none;
  color: black;
}

.gallery-contact-email:hover {
  color: grey;
}

.imprint-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: justify;

}

.imprint-header {
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
}

.imprint-header h1 {
  color: #333;
  font-size: 2em;
}

.imprint-content {
  line-height: 1.6;
}

.imprint-text {
  color: #444;
}

.no-content-message {
  text-align: center;
  color: #666;
  font-style: italic;
}

/*
footer */
.site-footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  font-size: 14px;
  color: #666;

}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
}


.contact-info p {
  margin: 0 0 5px 0;
}
.footer-links {
  display: flex;
  align-items: center; /* Center links vertically */
}

.footer-links a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #333;
}

.footer-links span {
  margin: 0 10px; /* Space between links */
}


@media (max-width: 576px) {
  .navbar-toggler {
    padding-right: 0.3em;
  }
  .fullscreen-menu .close-btn {
    top: 10px;
    right: 6px;
  }
  .fancybox__button--close {
    transform: scale(1);
  }

  .fancybox__container {
    display: flex;
    flex-direction: column;
  }

  .fancybox__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px 10px;
    color: black;
    font-size: 0.8em;
  }

  .filter-button {
    font-size: 0.8em;
  }

.sliders {
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;

}


  .about-content {
    font-size: 1em;
  }

  .text-container {
    padding: 1em;
    margin: 0 2em;
  }
.works-heading {
  font-size: 5em;
}

  .pubTitle {
    font-size: 1.1em;
    margin-top: 1em;
  }

  .pubDetails {
    font-size: 0.7em;
    margin-bottom: 0.8em;
  }

  .pubMainInfo {
    margin-bottom: 0.3em;
    font-size: 0.7em;
  }

  .publications-heading {
    font-size: 1.5em;
    display: block;
  }
  .publications-container {
    margin-top: 0.5em;
  }

  .text-section {
    margin: 0;

  }


  #exhibition-text {
    font-size: 0.8em;
  }



  .exhibition-grid {
    grid-template-columns: 1fr;
    padding:0 !important;
    margin-top: 4em;
  }

.exhibitions-container {
  margin-top: 1em;
}


  .index-title {
    padding-left: 0.4em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .index-title-works {
    padding-left: 0.4em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  body, html {
    margin: 0;
  }

  .caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 1em;
    line-height: 1em;
  }


  .exhibition-details {
    padding-left: 0.5em;
    font-size: 0.8em;
    max-width: 320px;
  }

  /* .text-link {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -19px;
  } */

  .more-info {

    font-size: 0.8em;
    padding-right: 0.5em;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* moves the .current-page-name to the left */
  /* .brand-container {
    flex: 1;
  } */



  .exhibitions-heading {
    font-size: 5em;
  }

  .exhibition-item {
    margin-bottom: 0;
  }

  .exhibitions-intro {
    font-size: 0.7em;
  }


  .filter-button {
    margin: 0;

  }


  .fancybox__image {
    max-height: 70vh !important; /* Allow more space for the close button */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */

}
.navbar-brand {
  font-size: 1.2em;
  padding-left: 0.4em;
  padding-right: 1.6em;
}
 .current-page-name {
  font-size: 1.2em;
  position: static;
  display: block;
  text-align: center;
}

}

@media (min-width: 577px) and (max-width: 768px) {

  .about-content {
    font-size: 1em;

  }
  .pubTitle {
    font-size: 1em;
    margin-bottom: 0.2em;
  }

  .pubDetails {
    font-size: 0.7em;
    margin-bottom: 1.2em;
  }

  .pubMainInfo {
    margin-bottom: 0.3em;
    font-size: 0.7em;
  }

  .exhibition-grid {
    grid-template-columns: repeat(1, 1fr);
    padding:0 !important;
  }

  .caption {
    margin: 0 auto;
  }
  .exhibition-details {
    padding-left: 0.5em;
    max-width: 300px;
    font-weight: 350;
  }
  .exhibitions-heading {
    font-size: 5em;
  }

  .exhibition-item {
    max-width: 600px;
  }




}

@media (max-width: 768px) {


  .works-grid {
    grid-template-columns: repeat(3, 1fr);
}

  .exhibitions-heading {
    font-size: 5em;
  }
  #text-content .row {
    flex-direction: column;
  }
  #text-content .column {
    max-width: 100%;
  }

  .footer-content {
    flex-direction: column; /* Stack on smaller screens */
    align-items: center; /* Center items */
    text-align: center; /* Center text */
  }

  .footer-links {
    margin-top: 10px; /* Space above links */
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  .pubTitle {
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }

  .pubDetails {
    font-size: 0.8em;
    margin-bottom: 0.6em;
  }

  .pubMainInfo {
    margin-bottom: 0.3em;
    font-size: 0.8em;
  }


  .exhibition-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .exhibition-details {
    padding-left: 0.5em;
  }
  .exhibitions-heading {
    font-size: 5em;
  }


}

@media (min-width: 993px) and (max-width: 1200px) {
  .exhibition-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .exhibition-details {
    grid-column: 2 / span 1;
    text-align: left;
    /* padding-left: 0.5em; */
    max-width: 500px;
  }



}

@media (min-width: 1201px) {
  .pubDetails {
    font-size: 0.9em;
  }
  .exhibition-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .exhibition-item {
    align-items: start;

  }



  .exhibition-details {
    grid-column: 2 / span 1;
    text-align: left;
    /* padding-left: 0.5em; */
    max-width: 500px;
  }



}
