body, html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  cursor: url('/images/cursor.png'), auto;
}

img {
  max-width: 100%;
  height: auto;
}

a, a:hover, a:active, button:hover {
  cursor: url('/images/cursor.png'), auto;
}


/* publications */
.publications-container {
  margin-top: 50px;
  overflow-x: hidden;
}


.pubTitle {
  font-size: 1.8em;
}

.pubMainInfo{
  font-size: 0.8em;
  margin-bottom: 0.5em;
}


.publication-image-container {
  height: 300px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.publication-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width:auto;
}


.each-row {
  margin-bottom: 3em;
}

.row {
  padding-bottom: 3em;
  border-bottom: 1px solid black;

}

* {
  box-sizing: border-box;
}





/* navbar */

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: white !important;
  margin-bottom: 0 !important;

}

.navbar-website {
  justify-content: space-between !important;
}

.navbar-toggler {
  border: none !important;
  margin-top: 0.5em !important;
}

.navbar-brand {
  font-size: 1.2em;
  padding-left: 0.8em;
  font-weight: 400;

}




.main-container.no-padding {
  padding: 0;
}

.main-container {
  padding: 0 1em;
  max-width: 2000px;
  margin: 0 auto;
}

.navbar, .index-title, .works-grid {
  padding-left: 0;
}

#back-to-grid {
  margin-bottom: 0.8em;
}



#exhibition-grid {
  width: 100%;
  max-width: none;
}

#exhibition-text .narrow-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  cursor: default;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 30px;
  height: 30px;
}

.carousel-control-prev-icon {
  /* Add your own custom arrow using a background image or CSS */
  background-image: url('/images/chevron-left.png'); /* Use an image */
}

.carousel-control-next-icon {
  background-image: url('/images/chevron-right.png'); /* Use an image */
}


.carousel {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;

}

.carousel.slide {
  margin: 0;
}

.carousel-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  border: none;

}

.carousel-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: url('/images/cursor.png'), auto;

}

.exhibition-item {
  display: flex;
  flex-direction: column;
}

.exhibition-grid {
  display: grid;
  gap: 15px;
  padding: 0px;

}

.exhibition-card {
  border: none;
  padding: 10px;
  text-decoration: none;
  color: inherit;

}

.exhibition-card img {
  width: 100%;
  height: auto;
  padding: 0;
  text-decoration: none;
}

.exhibition-details {
  transition: all 0.3s ease;
  margin-top: 0.7em;
  flex-grow: 1;
  font-size: 0.8em;
  font-weight: 300;
}

.caption {
  width: 100%;
  display: flex;
  align-items: space-between;
  margin-bottom: 1em;
}


button {
  border: none;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  background-color: white;

}
.text-link {
  margin-left: auto;
  margin-right: 0.3em
}

.svg-img {
  font-size: 0.9em;
  height: auto;
  max-width: 100%;
  color:#434040;
  font-weight: 200;
}

.svg-img:hover {
  cursor: pointer;
 color: #000;
 font-weight: 300;
}

.exhibition-title {
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
  color: #2f2e2e;
}

.exhibition-location, .exhibition-year {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.exhibition-details:hover  {
  color: grey;
}



#exhibition-text {
  line-height: 1.8em;
  text-align:left;
  padding: 1em;
}

/* Works */

.carousel__viewport {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.works-heading {
  font-size: 3em;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 1em;
}


.filter {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}


.work-item {
  overflow: visible;
  position: relative;
  aspect-ratio: 5 / 4;
}

.works-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.works-card a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.works-card:hover {
  transform: scale(1.1);
}

.works-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: url('/images/cursor.png'), auto;
}

.works-card:hover img {
  transform: scale(1.1);
}

.work-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
}

/* lightbox */
.fancybox__container {
  background-color: white !important;
}
.fancybox__image {
  overflow: hidden;
}

.fancybox__toolbar {
  background: none !important;
}
.fancybox__caption {
  font-family: "Poppins", sans-serif !important;
  font-size: 1rem;
  font-weight: 200;
  color: #000;
}

.fancybox__caption em {
  font-family: "Poppins", sans-serif !important;
  font-weight: 200;
  display:inline;
  font-size: 1em;
}

.fancybox__image {
  max-width: 100% !important;
  max-height: 100% !important;

}

.fancybox__slide.can-zoom_in {
  cursor: default !important;
  pointer-events: none;
}


.fancybox__container,
.fancybox__backdrop,
.fancybox__carousel,
.fancybox__slide,
.fancybox__content {
    background-color: white !important;
}

.fancybox__container .fancybox__caption,
.fancybox__container .fancybox__toolbar,
.fancybox__container .fancybox__nav {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 200;
  font-family: "Poppins", sans-serif !important;
}

/* .carousel-control-prev,
.carousel-control-next {
  &:focus {
    outline: none;
    box-shadow: none;
  }
} */



.filter-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  margin-bottom: 1em;
  font-size: 1em;

}

.filter-button {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  color: black;
  font-weight: 200;
}

.filter-button.active, .filter-button:hover {
  background-color: #242323;
  color: #fff
}

/* home */
.slideshow {
  position: relative;
  height: 100vh;
  width: 100%;
  cursor: url('/images/cursor.png'), auto;
  overflow: hidden;
}

.full-vh {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}



.home-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  display: none;
}

.home-slide.active {
  opacity: 1;
  display: block;
}



.current-page {
  font-weight: bold;
}

.carousel__button svg circle {
  stroke-width: 0;
}

.carousel__button svg g {
  stroke-width: 0;
}

.carousel__button svg {
  stroke-width: 1;
  color: rgb(67, 65, 65);
}

button.carousel__button.fancybox__button--zoom {
  display: none;
}
.fancybox__counter {
  stroke-width: 0.2;
  font-weight: 100;
  font-size: 0.8em;
}


@media (max-width: 576px) {


  .pubTitle {
    font-size: 1.1em;
    margin-top: 1em;
  }

  .pubDetails {
    font-size: 0.7em;
    margin-bottom: 0.8em;
  }

  .pubMainInfo {
    margin-bottom: 0.3em;
    font-size: 0.7em;
  }

  .exhibition-details {
    margin-top: 0;
  }

  .caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  button {
    margin-top: 1em;
  }

  .exhibition-grid {
    grid-template-columns: 1fr;
  }


  .index-title {
    padding-left: 0.4em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .index-title-works {
    padding-left: 0.4em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  body, html {
    margin: 0;
  }

  .carousel {
    padding: 0;
  }

  .carousel-card {
    max-width: 600px;
  }

  .exhibition-details {
    padding-left: 0.5em;
  }

  .filter-button {
    margin: 0;
  }

}

@media (min-width: 577px) and (max-width: 768px) {
  .pubTitle {
    font-size: 1em;
    margin-bottom: 0.2em;
  }

  .pubDetails {
    font-size: 0.7em;
    margin-bottom: 1.2em;
  }

  .pubMainInfo {
    margin-bottom: 0.3em;
    font-size: 0.7em;
  }

  .exhibition-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .carousel-card {
    max-width: 700px;
  }
  .exhibition-details {
    padding-left: 0.5em;
    max-width: 250px;
  }



}

@media (max-width: 768px) {

  .works-grid {
    grid-template-columns: repeat(3, 1fr);
}
  .artist-name {
    font-size: 1.5rem;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .pubTitle {
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }

  .pubDetails {
    font-size: 0.8em;
    margin-bottom: 0.6em;
  }

  .pubMainInfo {
    margin-bottom: 0.3em;
    font-size: 0.8em;
  }
  .exhibition-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .exhibition-details {
    padding-left: 0.5em;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .exhibition-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .exhibition-details {
    grid-column: 2 / span 1;
    text-align: left;
    padding-left: 0.5em;
    max-width: 250px;
  }

}

@media (min-width: 1201px) {
  .pubDetails {
    font-size: 0.9em;
  }
  .exhibition-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .exhibition-item {
    align-items: start;

  }

  .carousel-card {
    grid-column: 1 / span 1;
    justify-self: end;
  }

  .exhibition-details {
    grid-column: 2 / span 1;
    text-align: left;
    padding-left: 0.5em;
    max-width: 250px;
  }

}
