body, html {
  font-family: "indivisible",sans-serif !important;
  margin: 0;
  cursor: url('/images/cursor.png'), auto;
}

img {
  max-width: 100%;
  height: auto;
}

a, a:hover, a:active, button:hover {
  cursor: url('/images/cursor.png'), auto;
}

/* about */

.text-container {
  margin: 0 6em;
  padding: 80px;
  background-color: #000;
  color: white;
  margin-top: 5em;
}
/* publications */
.publications-container {
  margin-top: 5em;
  overflow-x: hidden;
}

.publications-heading {
  font-size: 1.5em;
  display: none;
}


.pubTitle {
  font-size: 1.7em;
}

.pubMainInfo{
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Keeps the text left-aligned */

  padding: 20px; /* Optional for spacing */
}

.publication-image-container {
  height: 300px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.publication-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width:auto;
}


.each-row {
  margin-bottom: 3em;
}

.row {
  padding-bottom: 3em;
  border-bottom: 1px solid black;

}

* {
  box-sizing: border-box;
}

.pubDetails {
  margin-bottom: 0.3em;
}




/* navbar */

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(255, 255, 255, 0.95); */
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.fullscreen-menu.active {
  transform: translateY(0);
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-list .nav-item {
  margin: 15px 0;
}

.nav-list .nav-link {
  font-size: 3rem;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
}

.nav-list .nav-link:hover {
  color: grey;
}

.navbar {
  /* z-index: 1001;  */
  background-color: white !important;
  margin-bottom: 0 !important;

}

.navbar-website {
  justify-content: space-between !important;
}
/*
.navbar-toggler {
  border: none !important;
  margin-top: 0.5em !important;
} */

.navbar-toggler {
  position: relative;
  z-index: 1100;
}

.navbar-toggler.active span {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.navbar-brand {
  font-size: 1.2em;
  padding-left: 0.8em;
  font-weight: 400;

}




.main-container.no-padding {
  padding: 0;
}

.main-container {
  padding: 0 1em;
  max-width: 2000px;
  margin: 0 auto;
}

.navbar, .index-title, .works-grid {
  padding-left: 0;
}

#back-to-grid {
  margin-bottom: 0.8em;
}

/* Exhibitions */

.exhibition-h2 {
  display: none;
}

#exhibition-grid {
  width: 100%;
  max-width: none;
}

#exhibition-text .narrow-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  cursor: default;
}



.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 30px;
  height: 30px;
  /* display:none; */
}



.carousel-control-prev-icon {
  /* Add your own custom arrow using a background image or CSS */
  background-image: url('/images/chevron-left.png'); /* Use an image */
}

.carousel-control-next-icon {
  background-image: url('/images/chevron-right.png'); /* Use an image */
}


.carousel {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;

}

.carousel.slide {
  margin: 0;
}

.carousel-card {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border: none;

}

.carousel-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  cursor: url('/images/cursor.png'), auto;

}

.exhibition-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%; /* Full width */
  max-width: 800px; /* Limits maximum width */
  margin-bottom: 2em;
}

.exhibition-grid {
  display: grid;
  grid-template-columns: 1fr; /* Ensures single-column layout */
  gap: 25px;
  padding: 20px;
  margin-top: 1.5em;

}

.exhibition-card {
  border: none;
  padding: 10px;
  text-decoration: none;
  color: inherit;

}

.exhibition-card img {
  width: 100%;
  height: auto;
  padding: 0;
  text-decoration: none;
}

.exhibition-details {
  transition: all 0.3s ease;
  margin-top: 0.7em;
  flex-grow: 1;
  font-size: 1em;
  font-weight: 400;
}

.caption {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
  flex-direction: row;
  justify-content: space-between;
}


button {
  border: none;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  background-color: white;

}
.text-link {
  margin-left: auto;
  margin-right: 0.3em
}

.svg-img {
  font-size: 0.9em;
  height: auto;
  max-width: 100%;
  color:#434040;
  font-weight: 200;
}

.svg-img:hover {
  cursor: pointer;
 color: #000;
 font-weight: 300;
}

.exhibition-title {
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
  color: #2f2e2e;
}

.exhibition-location, .exhibition-year {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.exhibition-details:hover  {
  color: grey;
}



#exhibition-text {
  line-height: 1.8em;
  text-align:left;
  padding: 1em;
}

.exhibitions-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white; /* Background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
  text-align: center;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in-out; /* Initial fade-in */
}

.exhibitions-heading {
  font-size: 10em;
}

/* Hide the exhibitions container initially */
.hidden {
  display: none;
}

/* Reveal the exhibitions container */
.exhibitions-container {
  animation: fadeIn 0.6s ease-in-out;
}

/* Works */
/* Full-screen heading */
.works-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white; /* Background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
  text-align: center;
  cursor:pointer;
  animation: fadeIn 0.5s ease-in-out; /* Initial fade-in */
}

.works-heading {
  font-size: 10em;
}

/* Hide the works container initially */
.hidden {
  display: none;
}

/* Reveal the works container */
.works-container {
  animation: fadeIn 0.6s ease-in-out;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Add the fade-out effect */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.carousel__viewport {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* .works-heading {
  font-size: 3em;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 1em;
} */


.filter {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}


.work-item {
  overflow: visible;
  position: relative;
  aspect-ratio: 5 / 4;
}

.works-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.works-card a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.works-card:hover {
  transform: scale(1.1);
}

.works-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: url('/images/cursor.png'), auto;
}

.works-card:hover img {
  transform: scale(1.1);
}

.work-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
}

/* lightbox */
.fancybox__container {
  background-color: white !important;
}
.fancybox__image {
  overflow: hidden;
}

.fancybox__toolbar {
  background: none !important;
}
.fancybox__caption {
  font-family: "indivisible",sans-serif !important;
  font-size: 1rem;
  font-weight: 200;
  color: #000;
}

.fancybox__caption em {
  font-family: "indivisible",sans-serif !important;
  font-weight: 200;
  display:inline;
  font-size: 1em;
}

.fancybox__image {
  max-width: 100% !important;
  max-height: 100% !important;

}

.fancybox__slide.can-zoom_in {
  cursor: default !important;
  pointer-events: none;
}


.fancybox__container,
.fancybox__backdrop,
.fancybox__carousel,
.fancybox__slide,
.fancybox__content {
    background-color: white !important;
}

.fancybox__container .fancybox__caption,
.fancybox__container .fancybox__toolbar,
.fancybox__container .fancybox__nav {
  font-family: "indivisible",sans-serif !important;
  font-weight: 200;
  font-family: "indivisible",sans-serif !important;
}

/* .carousel-control-prev,
.carousel-control-next {
  &:focus {
    outline: none;
    box-shadow: none;
  }
} */



.filter-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  margin-bottom: 1em;
  font-size: 1em;

}

.filter-button {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  color: black;
  font-weight: 200;
}

.filter-button.active, .filter-button:hover {
  background-color: #242323;
  color: #fff
}

/* home */
.slideshow {
  position: relative;
  height: 100vh;
  width: 100%;
  cursor: url('/images/cursor.png'), auto;
  overflow: hidden;
}

.full-vh {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}



.home-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  display: none;
}

.home-slide.active {
  opacity: 1;
  display: block;
}



.current-page {
  font-weight: bold;
}

.carousel__button svg circle {
  stroke-width: 0;
}

.carousel__button svg g {
  stroke-width: 0;
}

.carousel__button svg {
  stroke-width: 1;
  color: rgb(67, 65, 65);
}

button.carousel__button.fancybox__button--zoom {
  display: none;
}
.fancybox__counter {
  stroke-width: 0.2;
  font-weight: 100;
  font-size: 0.8em;
}


@media (max-width: 576px) {
  .about-content {
    font-size: 1em;
  }

  .text-container {
    padding: 1em;
    margin: 0 2em;
  }
.works-heading {
  font-size: 5em;
}

  .pubTitle {
    font-size: 1.1em;
    margin-top: 1em;
  }

  .pubDetails {
    font-size: 0.7em;
    margin-bottom: 0.8em;
  }

  .pubMainInfo {
    margin-bottom: 0.3em;
    font-size: 0.7em;
  }

  .publications-heading {
    font-size: 1.5em;
    display: block;
  }
  .publications-container {
    margin-top: 2.5em;
  }

  .text-section {
    margin: 0;

  }

  /* .exhibition-h2 {
    display: block;
    font-size: 1em;
    padding-left: 0.5em
  } */

  .exhibition-details {
    margin-top: 0;
  }

  #exhibition-text {
    font-size: 0.8em;
  }

  .fancybox__caption {
    font-size: 0.7em;
  }

  .caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  button {
    margin-top: 1em;
  }

  .exhibition-grid {
    grid-template-columns: 1fr;
    padding:0 !important;
    margin-top: 0;
  }


  .index-title {
    padding-left: 0.4em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .index-title-works {
    padding-left: 0.4em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  body, html {
    margin: 0;
  }

  .carousel {
    padding: 0;
  }

  .carousel-image {
    height: 400px; /* Adjust carousel height for smaller screens */
  }

  .carousel-card {
    max-width: 600px;
  }

  .exhibition-details {
    padding-left: 0.5em;
  }

  .exhibitions-heading {
    font-size: 5em;
  }

  .exhibition-item {
    margin-bottom: 0;
  }

  .exhibitions-intro {
    font-size: 0.7em;
  }


  .filter-button {
    margin: 0;
  }


  .fancybox__image {
    max-height: 70vh !important; /* Allow more space for the close button */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */

}



}

@media (min-width: 577px) and (max-width: 768px) {

  .about-content {
    font-size: 1em;
  }
  .pubTitle {
    font-size: 1em;
    margin-bottom: 0.2em;
  }

  .pubDetails {
    font-size: 0.7em;
    margin-bottom: 1.2em;
  }

  .pubMainInfo {
    margin-bottom: 0.3em;
    font-size: 0.7em;
  }

  .exhibition-grid {
    grid-template-columns: repeat(1, 1fr);
    padding:0 !important;
  }
  .carousel-card {
    max-width: 800px;
  }

  .carousel-image {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    height: 400px; /* Slightly larger carousel for tablets */
    cursor: url('/images/cursor.png'), auto;
  }

  .caption {
    margin: 0 auto;
  }
  .exhibition-details {
    padding-left: 0.5em;
    max-width: 200px;
    font-weight: 400;
  }
  .exhibitions-heading {
    font-size: 5em;
  }

  .exhibition-item {
    max-width: 600px;
  }




}

@media (max-width: 768px) {

  .works-grid {
    grid-template-columns: repeat(3, 1fr);
}

  .exhibitions-heading {
    font-size: 5em;
  }


}

@media (min-width: 769px) and (max-width: 992px) {
  .pubTitle {
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }

  .pubDetails {
    font-size: 0.8em;
    margin-bottom: 0.6em;
  }

  .pubMainInfo {
    margin-bottom: 0.3em;
    font-size: 0.8em;
  }


  .exhibition-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .exhibition-details {
    padding-left: 0.5em;
  }
  .exhibitions-heading {
    font-size: 5em;
  }

  .carousel-image {
    height: calc(100vh - 300px); /* Slightly smaller height for medium screens */
    max-height: 60vh;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .exhibition-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .exhibition-details {
    grid-column: 2 / span 1;
    text-align: left;
    padding-left: 0.5em;
    max-width: 500px;
  }

  .carousel-image {
    height: calc(100vh - 300px); /* Slightly smaller height for medium screens */
    max-height: 60vh;
  }

}

@media (min-width: 1201px) {
  .pubDetails {
    font-size: 0.9em;
  }
  .exhibition-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .exhibition-item {
    align-items: start;

  }

  .carousel-card {
    max-width: 1000px; /* Adjusts width for larger screens */
  }

  .exhibition-details {
    grid-column: 2 / span 1;
    text-align: left;
    padding-left: 0.5em;
    max-width: 500px;
  }

  .carousel-image {
    height: calc(100vh - 200px);
    max-height: 70vh; /* Restricts height to prevent excessive vertical stretching */
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
  }

}
