---
layout: base.njk
title: "Works"
pagination:
  data: collections.works
  size: 100
  alias: work

---


<div class="works-container">
  <!-- Filter Buttons -->
  <div id="filter-buttons" class="filter-buttons">
    <button class="filter-button active" data-filter="">All</button>
    <!-- Categories will be populated here by JavaScript -->
  </div>


<div class="works-grid">
  {% for work in collections.works %}
    <div class="work-item" data-category="{{ work.data.category }}" data-medium="{{ work.data.medium }}">
      <div class="works-card">
        {% if work.data.type == "Installation" %}
          <div id="carousel-{{ work.data.name | slugify }}" class="carousel slide installation-carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for image in work.data.installationImages %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <a href="{{ image.image }}"
                     data-fancybox="gallery-{{ work.data.name | slugify }}"
                     data-caption="
                       <span class='caption-title'><em>{{ work.data.name }}</em></span>,
                       <span class='caption-year'>{{ work.data.year }}</span>,
                       <span class='caption-medium'>{{ work.data.medium }}</span>,
                       <span class='caption-location'>{{ work.data.location }}</span>
                     ">
                    <img src="{{ image.image }}" class="d-block w-100" alt="{{ work.data.name }}">
                  </a>
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ work.data.name | slugify }}" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ work.data.name | slugify }}" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        {% else %}
          <a href="{{ work.data.image }}"
             data-fancybox="gallery"
             data-caption="
               <span class='caption-title'><em>{{ work.data.name }}</em></span>,
               <span class='caption-year'>{{ work.data.year }}</span>,
               <span class='caption-medium'>{{ work.data.medium }}</span>,
               <span class='caption-dimensions'>{{ work.data.dimensions }}</span>
             ">
            <img src="{{ work.data.image }}" alt="{{ work.data.name }}">
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% block scripts %}
  <script src="/works.js"></script>
{% endblock %}
