backend:
  name: git-gateway
  repo: Rosemary-Hogarth/art-website
  branch: master


media_library:
  name: cloudinary
  config:
    cloud_name: dyciaxri0
    api_key: 923446252637638





collections:
  - name: "exhibitions"
    label: "Exhibitions"
    folder: "exhibitions"
    create: true
    slug: '{{title | slugify}}'
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Location", name: "location", widget: "string"}
      - {label: "Year", name: "year", widget: "number"}
      - {label: "Cover Image", name: "coverImage", widget: "image"}
      - label: "Gallery Images"
        name: "images"
        widget: "list"
        field:
          {label: "Image", name: "image", widget: "image"}

# New "Works" Collection
  - name: "works"
    label: "Works"
    folder: "works"
    create: true
    slug: '{{title | slugify}}'
    fields:
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Year", name: "year", widget: "number"}
      - {label: "Medium", name: "medium", widget: "string"} # To filter works by medium
      - {label: "Dimensions", name: "dimensions", widget: "string"}
      - {label: "Image", name: "image", widget: "image"}

  - name: "homepage_slideshow"
    label: "Homepage Slideshow"
    folder: "homepage_slideshow"
    create: true
    slug: '{{slug}}'
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Image", name: "image", widget: "image"}
      - {label: "Order", name: "order", widget: "number", default: 1}
