backend:
  name: git-gateway
  repo: Rosemary-Hogarth/art-website
  branch: master
  baseUrl: https://courageous-bonbon-e9ab9d.netlify.app/


media_library:
  name: cloudinary
  config:
    cloud_name: dyciaxri0
    api_key: 923446252637638


collections:
  - name: "exhibitions"
    label: "Exhibitions"
    folder: "exhibitions"
    create: true
    slug: '{{title | slugify}}'
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Location", name: "location", widget: "string"}
      - {label: "Year", name: "year", widget: "number"}
      - {label: "Cover Image", name: "coverImage", widget: "image"}
      - label: "Gallery Images"
        name: "images"
        widget: "list"
        field:
          {label: "Image", name: "image", widget: "image"}
      - {label: "Exhibition Text Title", name: "exhibitionTextTitle", widget: "string"}
      - {label: "Exhibition Text Author", name: "exhibitionTextAuthor", widget: "string"}
      - {label: "Exhibition Text", name: "exhibitionText", widget: "text"}


# New "Works" Collection
  - name: "works"
    label: "Works"
    folder: "works"
    create: true
    slug: '{{title | slugify}}'
    fields:
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Year", name: "year", widget: "number"}
      - {label: "Medium", name: "medium", widget: "string"}
      - {label: "Category", name: "category", widget: "select", options: ["Painting", "Works on paper", "Sculpture", "Photography", "Installation", "Mixed media", "Performance", "Public sculpture"]} # Filter category
      - {label: "Dimensions", name: "dimensions", widget: "string"}
      - {label: "Type", name: "type", widget: "select", options: ["Single", "Installation"], default: "Single"}
      - {label: "Image", name: "image", widget: "image", required: false}
      - label: "Installation Images"
        name: "installationImages"
        widget: "list"
        fields:
          - {label: "Image", name: "image", widget: "image"}
        required: false
      - {label: "Location", name: "location", widget: "string", required: false}


  - name: "homepage_slideshow"
    label: "Homepage Slideshow"
    folder: "homepage_slideshow"
    create: true
    slug: '{{slug}}'
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Image", name: "image", widget: "image"}
      - {label: "Order", name: "order", widget: "number", default: 1}
