/* navbar */

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(255, 255, 255, 0.95); */
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.fullscreen-menu .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 100;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.fullscreen-menu .close-btn:hover {
  color: #ccc;
}

.fullscreen-menu.active {
  transform: translateY(0);
}



.navbar-toggler:focus {
  outline: 1px;
}

.brand-container {
  display: flex;
  align-items: center;
}


.divider {
  margin-right: 0.5em;

}


.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-light .navbar-toggler {
  border: none;
}

.close-btn img {
  transform: scale(1.5)
}


.navbar-toggler.active .navbar-toggler-icon {
  background-image: url(/images/xmark.svg) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-list .nav-item {
  margin: 15px 0;
}

.nav-list .nav-link {
  font-size: 3rem;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
}

.nav-list .nav-link:hover {
  color: grey;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar-website {
  justify-content: space-between !important;
}
/*
.navbar-toggler {
  border: none !important;
  margin-top: 0.5em !important;
} */

.navbar-toggler {
  position: relative;
  z-index: 1100;
}

.navbar-toggler.active span {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.navbar-brand {
  font-size: 1.6em;
  padding-left: 0.8em;
  font-weight: 400;
  margin-right: 0.5rem;


}

@media (max-width: 576px) {

  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .navbar-brand {
    font-size: 1.2em;
    padding-left: 0.4em;
    padding-right: 1.6em;
  }
}
