/* Works */
/* Container for the whole gallery */
.works-container {
  padding: 20px;
}

/* Works Grid Setup using CSS Grid for responsive layout */
.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Auto-adjust columns */
  gap: 30px; /* Space between items */
  grid-auto-rows: auto; /* Ensure rows adjust to image sizes */
}

/* Style for each work item */
.work-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Ensure images maintain their aspect ratio and aren't cropped */
.work-item img {
  width: 100%;  /* Ensure images take the full width of the container */
  height: auto; /* Maintain the original aspect ratio */
  object-fit: contain; /* Ensures the image is contained within its box */
  display: block;

}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
/* .works-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
  transition: transform 0.3s ease;
} */

.works-card a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Hover effect for works card */
.works-card:hover {
  transform: scale(1.05); /* Slight zoom effect */
}

/* Ensure image inside the works card scales correctly */
.works-card img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image stays within the bounds of the card */
  transition: transform 0.3s ease;
}

/* Hover effect on image */
.works-card:hover img {
  transform: scale(1.1); /* Zoom in on hover */
}

/* Work Info Styling */
.work-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
}

/* Style for the filter buttons (if needed) */
.filter {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5em;
  margin-bottom: 1em;

}

.filter-button  {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  color: black;
  font-size: 1.2em;
padding-right: 10px;
padding-left: 10px;
padding-top: 3px;
padding-bottom: 3px;
  border-radius: 20px;
}

.filter-button.active, .filter-button:hover {
  background-color: #242323;
  color: #fff
}

@media (max-width: 576px) {
  .works-container {
    padding: 0;
  }

  .works-heading {
    font-size: 5em;
  }


  .filter-button {
    font-size: 0.8em;
  }

  .filter-button {
    padding: 0 5px 0 5px;
    /* padding-right: 5px;
    padding-bottom: 0; */
    border-radius: 5px;
    margin: 0;
  }
}
